*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: transparent;
}

#container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

header{
    text-align: center;
    padding: 20px;
}

#conteudo{
    text-align: center;
    padding: 100px;
    flex: 1;
}

#conteudo article{
    display: flex;
    flex-direction: column;
    text-align: center;
}

aside{
    padding: 20px;
    flex: 2;
}

footer{
    padding: 40px;
}

/*FOOTER*/
footer{
    background: #fff;
    color: #666;
    padding: 20px 0;
    margin-top: auto;
}
.contato{
    display: grid;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}
.footer-content h3{
    margin-bottom: 30px;
}

.footer-content ul{
    list-style: none;
    padding: 0;
}
.footer-content li{
    margin-bottom: 5px;
}
.footer-content a{
    color: #666;
    text-decoration: none;
}

.redesSociais{
    display: grid;
    justify-content: space-around;
    max-width: 100%;
    margin: 0% auto;
}
.redesSociais ul{
    list-style: none;
    padding: 0;
}
.redesSociais li{
    margin-bottom: 5px;
}
.redesSociais li{
    margin: 10px;
}
.redesSociais li{
    margin: 10px;
}

.Vinharia-Agnello{
    display: grid;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}
.Vinharia-Agnello h3{
    margin-bottom: 30px;
}
.ajuda{
    display: grid;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}
.ajuda h3{
    margin-bottom: 30px;
}
.nossosVinhos{
    display: grid;
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
}

.direitos{
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }

/* RESPONSIVIDADE */

@media (min-width: 700px){
    #container{
        flex-direction: column;
    }
    #conteudoAside{
        display:flex;
        flex-grow: 1;
    }
    #conteudo{
        flex: 2;
    }
    aside{
        flex: 1;
    }

}